@import url("http://fonts.googleapis.com/css?family=Londrina+Solid");
@import url("http://fonts.googleapis.com/css?family=Londrina+Shadow");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600");


#banner {
  border-radius: 5px;
  background-color:#6DA4FF;
  width: 100%;
}

#ct_logo {
  font-family: Londrina Solid;
  font-size: 160%;
  color: white;
  text-shadow: 0.03em 0.03em 0 black, -1.25px 0 0 black, 1.25px 0 0 black, 0 -1.25px 0 black, 0 1.25px 0 black;
}

#content {
  background-color:#5452FF;
  font-family: "Open Sans", sans-serif;
  border-radius: 11px;
  text-align: center;
  width: 100% !important;
}

.carousel-inner > .item > img {
  height: 400px;
  margin: 0 auto;
}
#make_it_black {
  font: black;
}

#content h1 {
  font-family: Londrina Solid;
  font-size: 260%;
  font-weight: normal;
  margin: 0;
  position: relative;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}​


#footer{
  font-size: 10px;
}

video.crab_theatre {
  border-radius: 11px;
  padding-left:12px;
  padding-right:10px;
}

/* For some reason this class had to be here instead of above #footer for it to work... */
#loginHeader {
  font-family:"Londrina Solid";
  color: #EEEEEE !important;
}

/* Navigation menu settings below */

#menu_nav_stuff {
  padding: 3px;
  padding-left:12px;
  padding-right:10px;
  border-radius: 10px;
  background-color:#5452FF;
  font-family: Londrina Solid;
  font-size: 95%;
  text-transform: uppercase;
  color: white;
  text-shadow: 0.03em 0.03em 0 black, -1.25px 0 0 black, 1.25px 0 0 black, 0 -1.25px 0 black, 0 1.25px 0 black;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: IndianRed;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #030033;
}

.navbar-default {
}

/*color when highlighted*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-shadow: none;
  color: #262626;
  text-decoration: none;
  background-color: IndianRed;  /*change color of links in drop down here*/
 }
 
 /*the menu itself*/
 .dropdown-menu {
  padding: 3px;
  padding-left:12px;
  padding-right:10px;
  border-radius: 10px;
  background-color:White;
 }
 
  /*color when NOT highlighted*/
 .dropdown-menu > li > a{
  text-shadow: none;
 }

 /*color of drop down sub menu headings*/
 .dropdown-menu > .dropdown-header{
  text-shadow: none;
 }
 

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

/*Top Menu font color!*/
.navbar-default .navbar-nav > li > a {
  color: #A8A8A8 ; /*Change active text color here*/
}