@import url("http://fonts.googleapis.com/css?family=Londrina+Solid");
@import url("http://fonts.googleapis.com/css?family=Londrina+Shadow");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600");

body {
	
	/* Light orange 
background: #FFB75E; 
background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03);
background: linear-gradient(to left, #FFB75E , #ED8F03);*/
	
	/* Green and Blue*/
	background: #c2e59c; 
	background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); 
	background: linear-gradient(to left, #c2e59c , #64b3f4); 
	
	
  /*background-color:white;*/
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px; /* or 950px */
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px; /* or 950px */
}

#content {
  background-color: #56B4D3;
  font-family: "Open Sans", sans-serif;
  border-radius: 11px;
  text-align: center;
  width: 100%;
}

#article_form_box {
	padding: 12px;
}



#article_form_box > label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right; !important;
   
    /* Remove! */
    font-family: Londrina Solid;
  font-size: 260%;
  font-weight: normal;
  margin: 0;
  position: relative;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

#article_form_box > input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;!important;
}

.carousel-inner > .item > img {
  height: 400px;
  width: 925px;
  margin: 0 auto;
  border-radius: 15px;
  border: 7px solid #064273;
  background-color:#FFFFFF ;
  font-family: "Open Sans", sans-serif;
}

#content h1 {
  font-family: Londrina Solid;
  font-size: 260%;
  font-weight: normal;
  margin: 0;
  position: relative;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

#footer {
  position: fixed; bottom: 0; height: 85px; width: 1320px;
  background-image: url("../images/wave.png");
  background-repeat: no-repeat;
  background-size: 100%; 
}

#footer_text {
  font-size: 70%;
  color: white;
  position: fixed; bottom: 0; height: 20px; width: 1320px;
}


video.crab_theatre {
  border-radius: 11px;
  padding-left:12px;
  padding-right:10px;
}

/* For some reason this class had to be here instead of above #footer for it to work... */
#loginHeader {
  font-family:"Londrina Solid";
  color: #EEEEEE;
}



#article_form_values{
	align: left;
	
}

/* Navigation menu settings below */

#crab_avatar_menu {
  border-radius: 6px;
  border: 2px solid #8AC007;
  width: 30px;
  height: 30px;
  margin-top: -13px;
  margin-bottom: -10px;
  margin-right: 7px;
}

#banner {
  border-radius: 5px;
  background-color:#064273;
  width: 100%;
}

#ct_logo {
  font-family: Londrina Solid;
  font-size: 160%;
  color: white;
  text-shadow: 0.03em 0.03em 0 black, -1.25px 0 0 black, 1.25px 0 0 black, 0 -1.25px 0 black, 0 1.25px 0 black;
}

#menu_nav_stuff {
  padding: 3px;
  padding-left:12px;
  padding-right:10px;
  border-radius: 10px;
  font-family: Londrina Solid;
  font-size: 100%;
  text-transform: uppercase;
  color: white;
  text-shadow: 0.03em 0.03em 0 black, -1.25px 0 0 black, 1.25px 0 0 black, 0 -1.25px 0 black, 0 1.25px 0 black;
}

/*color when highlighted*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #B85353 ;  /*Sets the text hover color on navbar*/
}

/*color when highlighted*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-shadow: none;
  color: #993f3f ;
  text-decoration: none;
  background-color: #e7f5ff ;  /*change color of links in drop down here*/
 }

 /*color when highlighted */
.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   border-radius: 10px;
   color: #B85353 ;
   background-color:#064273;
   border-color: #7FCDFF;
}
 
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: Purple; /*BACKGROUND color for active*/
  background-color: Purple;
}

.navbar-default {
  border-radius: 10px;
  background-color: #064273;
  border-color:#064273;
}
 
 /*the menu itself*/
 .dropdown-menu {
  border-radius: 10px;
  background-color:#e7f5ff;
 }
 
  /*dropdown menu color*/
 .dropdown-menu > li > a{
  text-shadow: none;
 }

 /*color of drop down sub menu headings*/
 .dropdown-menu > .dropdown-header{
  text-shadow: none;
 }
 
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: IndianRed; /*Change rollover cell color here*/
}

/*Top Menu font color!*/
.navbar-default .navbar-nav > li > a {
  color: #A8A8A8 ; /*Change active text color here*/
}