@import url("http://fonts.googleapis.com/css?family=Londrina+Solid");
@import url("http://fonts.googleapis.com/css?family=Londrina+Shadow");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600");

#colour_form {
  width: 20%;
  position: relative;
  left: 40%;
}

#occupation_bio_form {
  width: 20%;
  position: relative;
  left: 40%;
}


#edit_form {
  text-align: center !important;
}

#crab_avatar {
    border-radius: 25px;
    border: 5px solid #8AC007;
    margin: 10px;
    padding: 0px;
    width: 200px;
    height: 200px;
}