Options -Indexes

RewriteEngine on 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?crabtownmania\.com [NC]  
RewriteCond %{HTTP_REFERER} !^http://(www\.)?crabtownmania\.com.*$ [NC] 
RewriteRule .*\.(jpe?g|gif|bmp|png|sql|mp4|txt)$ - [F]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
